.intro{
    display: flex;
    height: 100vh;
    /* background-colorgb(230, 201, 201)ack;
    color: white; */
}

.intro-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-right{
    flex:1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.intro-left-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-name-heading{
    font-size: 30px;
    font-weight: 300;
}

.intro-name{
    font-size: 60px;
}

.intro-titles{
    height: 50px;
    overflow: hidden;
}

.intro-titles-wrapper{
    height: 100%;
    /* Animation to alternate between job titles constantly */
    animation: move 5s ease-in-out infinite alternate;    
}

@keyframes move {
    100%{
        transform: translateY(-50px)
    }
}

.intro-titles-items{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.intro-description{
    color: black;
}

.intro-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

.intro-right-card{
    width: 60%;
    height: 80%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.intro-img{
    /* width: 50%;
    height: 50%;
    object-fit: cover;
    position: absolute;
    border-radius: 100px;
    overflow: hidden; */

    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;

}